.columns{margin:0;width:961px}
.columns .cell{float:left;margin-left:35px;position:relative;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-box-sizing:border-box}
.columns .cell img,.columns .cell video,.columns .cell object,.columns .cell embed{max-width:100%}
.columns .cell img{height:auto}
.columns .cell.first{clear:left;margin-left:0 !important}
.columns .cell:last-of-type{margin-left:34px}

.columns .cell.width-1{width:48px}
.columns .cell.width-2{width:131px}
.columns .cell.width-3{width:214px}
.columns .cell.width-4{width:297px}
.columns .cell.width-5{width:380px}
.columns .cell.width-6{width:463px}
.columns .cell.width-7{width:546px}
.columns .cell.width-8{width:629px}
.columns .cell.width-9{width:712px}
.columns .cell.width-10{width:795px}
.columns .cell.width-11{width:878px}
.columns .cell.width-12{width:961px}
.columns .cell.prepend-1{margin-left:118px !important}
.columns .cell.prepend-1.first{margin-left:83px !important}
.columns .cell.prepend-2{margin-left:201px !important}
.columns .cell.prepend-2.first{margin-left:166px !important}
.columns .cell.prepend-3{margin-left:284px !important}
.columns .cell.prepend-3.first{margin-left:249px !important}
.columns .cell.prepend-4{margin-left:367px !important}
.columns .cell.prepend-4.first{margin-left:332px !important}
.columns .cell.prepend-5{margin-left:450px !important}
.columns .cell.prepend-5.first{margin-left:415px !important}
.columns .cell.prepend-6{margin-left:533px !important}
.columns .cell.prepend-6.first{margin-left:498px !important}
.columns .cell.prepend-7{margin-left:616px !important}
.columns .cell.prepend-7.first{margin-left:581px !important}
.columns .cell.prepend-8{margin-left:699px !important}
.columns .cell.prepend-8.first{margin-left:664px !important}
.columns .cell.prepend-9{margin-left:782px !important}
.columns .cell.prepend-9.first{margin-left:747px !important}
.columns .cell.prepend-10{margin-left:865px !important}
.columns .cell.prepend-10.first{margin-left:830px !important}
.columns .cell.prepend-11{margin-left:948px !important}
.columns .cell.prepend-11.first{margin-left:913px !important}
.columns .cell.prepend-11{margin-left:1031px !important}
.columns .cell.prepend-11.first{margin-left:996px !important}
.columns .cell.append-1{margin-right:83px}
.columns .cell.append-2{margin-right:166px}
.columns .cell.append-3{margin-right:249px}
.columns .cell.append-4{margin-right:332px}
.columns .cell.append-5{margin-right:415px}
.columns .cell.append-6{margin-right:498px}
.columns .cell.append-7{margin-right:581px}
.columns .cell.append-8{margin-right:664px}
.columns .cell.append-9{margin-right:747px}
.columns .cell.append-10{margin-right:830px}
.columns .cell.append-11{margin-right:913px}
.columns .cell.append-11{margin-right:996px}

.columns .cell.fill-left{padding-left:35px}
.columns .cell.fill-right{padding-right:35px}
.columns .cell.flush-left{padding-left:0 !important}
.columns .cell.flush-right{padding-right:0 !important}

.columns .cell.prepend-gutter{padding-left:35px;margin-left:0}
.columns .cell.prepend-gutter.first{margin-left:-35px !important}
.columns .cell.prepend-gutter.width-1{width:83px}
.columns .cell.prepend-gutter.width-2{width:166px}
.columns .cell.prepend-gutter.width-3{width:249px}
.columns .cell.prepend-gutter.width-4{width:332px}
.columns .cell.prepend-gutter.width-5{width:415px}
.columns .cell.prepend-gutter.width-6{width:498px}
.columns .cell.prepend-gutter.width-7{width:581px}
.columns .cell.prepend-gutter.width-8{width:664px}
.columns .cell.prepend-gutter.width-9{width:747px}
.columns .cell.prepend-gutter.width-10{width:830px}
.columns .cell.prepend-gutter.width-11{width:913px}
.columns .cell.prepend-gutter.width-12{width:996px}
.columns .cell.append-gutter{padding-right:35px;margin-right:-35px !important}
.columns .cell.append-gutter.width-1{width:83px}
.columns .cell.append-gutter.width-2{width:166px}
.columns .cell.append-gutter.width-3{width:249px}
.columns .cell.append-gutter.width-4{width:332px}
.columns .cell.append-gutter.width-5{width:415px}
.columns .cell.append-gutter.width-6{width:498px}
.columns .cell.append-gutter.width-7{width:581px}
.columns .cell.append-gutter.width-8{width:664px}
.columns .cell.append-gutter.width-9{width:747px}
.columns .cell.append-gutter.width-10{width:830px}
.columns .cell.append-gutter.width-11{width:913px}
.columns .cell.append-gutter.width-12{width:996px}


.columns:after{content:".";visibility:hidden;display:block;height:0;clear:both}
.columns.with-sidebar{border-radius:5px 0 0 5px}
.columns.with-sidebar .cell.column-sidebar{background:#ececec;width:240px;z-index:7;position:relative;border:0 solid #bbb;left:20px;margin-left:-20px !important;border-radius:0 5px 5px 0;border-left-width:1px}
.columns.with-sidebar .cell.column-sidebar.first{left:0;border-right-width:2px;border-left-width:1px;border-top-width:1px;border-bottom-width:2px;border-radius:5px 0 0 5px}
.columns.with-sidebar .cell.column-body{z-index:2;background:#fff;width:700px;margin-left:0;padding-left:20px;position:relative;box-shadow:-1px 0 #bbb}
.columns.with-sidebar .cell.column-body.first{padding-left:0;box-shadow:1px 0 #bbb}
.columns.fluid{width:auto;margin-left:-18px;margin-right:-18px}
.columns.fluid .cell{margin:0;padding:0 18px}
.columns.fluid .cell.first{margin-left:0 !important}
.columns.fluid .cell:last-of-type{margin-right:0 !important}
.columns.fluid .cell.width-1{width:8.33333333%}
.columns.fluid .cell.width-2{width:16.66666667%}
.columns.fluid .cell.width-3{width:25%}
.columns.fluid .cell.width-4{width:33.33333333%}
.columns.fluid .cell.width-5{width:41.66666667%}
.columns.fluid .cell.width-6{width:50%}
.columns.fluid .cell.width-7{width:58.33333333%}
.columns.fluid .cell.width-8{width:66.66666667%}
.columns.fluid .cell.width-9{width:75%}
.columns.fluid .cell.width-10{width:83.33333333%}
.columns.fluid .cell.width-11{width:91.66666667%}
.columns.fluid .cell.width-12{width:100%}
.columns.fluid.bordered .cell{border-left:1px solid #ccc}
.columns.fluid.bordered .cell.first{border-left:none}